.popUp {
  background: linear-gradient(90deg, rgb(104, 2, 246), rgb(74, 227, 3)) ;
  display: flex;
  position: absolute;
  border-radius: 10px;
  width: 500px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.close {
  cursor: pointer;
}

.closeBtn {
  text-align: center;
  justify-content: center;
  display: flex;
  width: 23px;
  height: 18px;
  background-color: rgb(46, 141, 2);
  position: fixed;
  right: 5%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  top: 5%;
  border-radius: 50%;
}

.closeBtn:active {
  background-color: rgba(22, 67, 1, 0.4);
}

.submit {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  box-shadow: 2px 2px 2px 2px rgba(75, 75, 75, 0.7);
  cursor: pointer;
}

.submit:active {
  background-color: rgb(75, 75, 75);
  opacity: 0.2;
}

.namePop {
  position: absolute;
  padding: 10px;
  top: 20%;
  right: 25%;
}


.emailPop {
    position: absolute;
    padding: 10px;
    top: 30%;
    right: 25%;

}

.textPop1 {
  position: absolute;
  padding: 10px;
  top: 40%;
  right: 61%;
  
}

.textPop2 {
  position: absolute;
  padding: 10px;
  top: 40%;
  right: 28%;
}


.subscribePop {
  position: absolute;
  padding: 10px;
  top: 10%;
  right: 40%;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(227, 97, 3)
}